<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--Edit the title of the page-->
        <title>Welcome to TIMBY</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
        <![endif]-->

        {{ theme:css file="normalize.css" }}
        {{ theme:css file="timby-theme.css" }}
        {{ theme:css file="makeitresponsive.css" }}
    </head>
    <body>

    <div class="map" id="map"></div>

    <div class="timeslider" id="timeslider">
        <p><input id="test" type="range" value="4" min="1" max="36" step="1"/></p>
    </div>

    <!-- Dashboard vis -->

    {{ theme:partial name='sidepanel' }}
    {{ theme:partial name='mustache-template' }}

    </body>
</html>
