<div class="sidepanel">
    <button class="close">x</button>
    <div class="wrapper">
        <div class="context subheader">
            <h1 class="title">Latest forest action</h1>
            <p><span class="category">date</span> Jul 20th, 2013</p>
            <p><span class="category">companies</span> Forest Ventures </p>
            <p><span class="category">people</span> John Gbedzy </p>
            <p>
                <span class="category">tags</span>
                <span class="tags">mining, forestry, destruction, pup</span>
            </p>
        </div>

        <h3>Multimedia</h3>
        <div class="context media">
            <p id="image-view">{{ theme:image file='mockup/media1.jpg' }}</p>
        </div>

        <h3>Description</h3>
        <div class="context content">
            <p>Ullamco veniam Marfa freegan post-ironic exercitation. Typewriter pop-up narwhal dolor. Stumptown ethnic church-key ex elit selfies. Forage tousled vero blue bottle. Mollit culpa freegan, dolore helvetica viral VHS pork belly. Vice cillum pop-up do, non shabby chic church-key Odd Future eiusmod. Chambray consequat artisan before they sold out, pickled PBR deep v mollit butcher.</p>
            <p>Craft beer brunch keffiyeh, sed flannel whatever anim VHS intelligentsia post-ironic. Mollit stumptown delectus, qui iPhone craft beer pitchfork tote bag next level post-ironic ex bitters kale chips. Delectus hoodie Austin twee voluptate, mustache skateboard pour-over elit before they sold out chambray viral Odd Future forage letterpress. Mustache quinoa before they sold out, Pinterest nostrud Marfa farm-to-table. Schlitz Vice Wes Anderson flexitarian. Squid small batch intelligentsia Odd Future, stumptown shabby chic tumblr sint blog reprehenderit food truck helvetica ugh occupy. Hella McSweeney's Carles leggings craft beer, bespoke ethical Terry Richardson blue bottle.</p>
        </div>
    </div>
</div>